@model RehaPatientMVC.Application.ViewModels.Patients.NewPatientVm

@{
    ViewData["Title"] = "AddPatient";
}

<h1>AddPatient</h1>

<h4>NewPatientVm</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddPatient">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pesel" class="control-label"></label>
                <input asp-for="Pesel" class="form-control" />
                <span asp-validation-for="Pesel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
